.animeCategories {
  height: auto;
  width: 100%;
  background-color: black;
  transform: translateY(-5px);
  color: whitesmoke;
}
.animeCategories h1 {
  text-align: center;
  padding-top: 30px;
}
.collections {
  display: flex;
  width: 80%;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1700px;
  padding-bottom: 50px;
  margin-top: 20px;
}
.collection {
  width: 20%;
  min-width: 100px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.collection a {
  text-decoration: none;
  color: white;
}
.collection:hover {
  scale: 1.1;
}
.collection h3 {
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .collection {
    width: 42%;
    margin: 0px;
    margin-top: 20px;
  }
}
