.productCarousel {
  height: auto;
  width: 100%;

  transform: translateY(0px);
}
.productCarousel a {
  text-decoration: none;
  color: black;
}
.categoriesArea {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 50px;
}
